@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-brand: 0 122 101;
	}

	html,
	body {
		@apply font-normal text-black-1 h-full;
		scroll-behavior: smooth !important;
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

body {
	@apply bg-grey-bg3;
}

.react-date-picker__wrapper {
	@apply h-[52px] border-grey-divider rounded-8 px-12;
}

.react-date-picker__inputGroup__input {
	@apply focus:outline-none;
}

.react-calendar__tile--active {
	@apply bg-primary-1 rounded-8;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	@apply bg-primary-1;
}

.react-calendar__month-view__days__day--weekend {
	@apply text-red-1;
}

.react-date-picker__calendar .react-calendar {
	@apply border-grey-divider rounded-8;
}
